.BootstrapTable {
	background-color: lightblue;
}
.div {
	background-color: lightblue;
}


.Table-header {
    background-color: #ccc;
    color: blue;
    padding: 10px;
    text-align: left;
}